form{
    background-color: rgb(112, 112, 112);
    position: fixed;
    top: 5%;
    left: 30%;
    height: 200px;
    width: 500px;
    color: white;

}

.submit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
}
.trash{
    position: absolute;
    top: 16px;
    right: 16px;
}
input[type='text']{
   border:none;
   padding: 8px 10px;
   outline: none;
}
input[type='text']:hover{
    border: 1px solid rgb(115, 115, 115);
}
.btn-submit{
    padding: 10px;
    background: rgb(98, 123, 167);
    border: none;
    color: white;
    transition: border 0.3s ease-in-out;
}
.btn-submit:hover{
    border: 1px solid rgb(0, 57, 156);
}

@media screen and (width<760px){
    form{
 
       top:0;
        left: 0;
        height: 180px;
        width: 100%;
    
    
    }
    .trash{
        position: absolute;
        top: 10px;
        right: 16px;
    }
    .profile p{
      font-size: 0.7rem;  
    }
}
