.section-header{
    margin:   20px;
    display: flex;
    justify-content: space-between;
}
.section-container{
    background: #efefef;
 padding-bottom: 20px ;
 width: 100%;


}
.taskName{
    margin-top: 20px;
}
.taskName p{
    color: rgb(131, 131, 131);
}
.btn-primary{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 7px;
    color: #3c33f5;
    border: none;
    background: #d5d3f9;
    margin-top: 20px;
}

.section2-header{
    display: flex;
    justify-content: space-between;
    margin:  20px;
}
.message-span{
    background-color: #3c33f5;
    width: 100%;
    height: auto;
    padding: 2px 5px;
    border-radius: 40%;
    color: white;
    font-size: 0.7rem;
    text-align: center;

   
}
.section2-header p{
    display: flex;
    gap: 10px;
    align-items: center;
}

.message-span2{
    background-color: #a2a2a2;
    width: 100%;
    height: auto;
    padding: 2px 5px;
    border-radius: 40%;
    color: white;
    font-size: 0.7rem;
    text-align: center;
}
.active2{
    color: #3c33f5;
}
.todoTask{
    display: flex;
    justify-content: space-between;

}
.todoTask-cotainer{
    margin: 20px;
 
    background: white;
    padding: 40px;
    border-radius: 9px;
}
.line{
    width: 100%;
    background: #a2a2a2;
    height: 1px;
    margin: 10px 0px;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
input[type='checkbox']{
   
    border-radius: 50%;
}
label{
    color: #a2a2a2;
}
.checkbox{
    display: flex;
    gap: 1.2rem;
    align-items: center;
}
.search-input{
  margin-top:15px;
  padding: 5px 6px;
  width: 300px;
  height: 50px;
}
.deleteIcon:hover{
    color: red;
}
.btn-primary:hover{
    border: 1px solid rgb(15, 15, 87);
}

@media screen and (width<760px){
    .section-container{
        width: 100%;
    }
    .section-header{
        display: flex;
        flex-direction: column;
    }

    .search-input{
        margin-top:15px;
        padding: 5px 6px;
        width: 100%;
     
      }
      .section-container{
        font-size: 0.8rem;
      }
      .todoTask-cotainer{
        margin: 5px 15px;
      }
      .todoTask{
        display: flex;
       gap: 1rem;
    
    }
    h4{
        white-space: nowrap;
    }

    .checkbox{
        display: flex;
        gap: 0.5rem;

       
    }
    .section2-header p{
        display: flex;
        gap: 5px;
        font-size: 0.6rem;
    }
    .profile-container{
        display: flex;
     
    }
    .profile-container img{
        width: 20px;
        height: 20px;
    }

    .message-span2{
        background-color: #a2a2a2;
        width: 100%;
        height: auto;
        padding: 3px 2px;
        border-radius: 40%;
        color: white;
        font-size: 0.7rem;
        text-align: center;
    }
}

@media screen and (width<760px){

}