@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  list-style: none;

  
}
body{
  background-image: linear-gradient(white,rgb(79, 79, 79));

}